# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Testing
coverage
playwright-report
.nyc_output

# Development
.env*.local
.env.development
.env.test

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Misc
.git
.gitignore
README.md
CHANGELOG.md
docs
e2e
*.md
